/*-- scss:defaults --*/

$primary: #982a31 !default;
$fg: #2b2121 !default;
$bg: #ffffff !default;

/*-- scss:rules --*/

code {
  color: #3d3838;
}

div.rstudio-tip, div.tip, div.cran {
  border: 4px solid #ddd;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
  padding-left: 80px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 5px 15px;
  min-height: 120px;
}

div.rstudio-tip {
  background-image: url("rstudio.png");
}

div.tip {
  background-image: url("diagrams/lightbulb.png");
}
