p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Sidebar formating --------------------------------------------*/

div.rstudio-tip, div.tip {
  border: 4px solid #ddd;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
  padding-left: 80px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 5px center;
  min-height: 120px;
}

div.rstudio-tip {
  background-image: url("rstudio.png");
}

div.tip {
  background-image: url("diagrams/lightbulb.png");
}

/* .book .book-body .page-wrapper .page-inner section.normal is needed
   to override the styles produced by gitbook, which are ridiculously
   overspecified. Goal of the selectors is to ensure internal "margins"
   controlled only by padding of container */

.book .book-body .page-wrapper .page-inner section.normal div.rstudio-tip > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.tip > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.rstudio-tip > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.tip > :last-child {
  margin-bottom: 0;
}
