<li class="dropdown-header">Getting started</li>
<li><a href="intro.html">Introduction</a></li>
<li class="dropdown-header">Package components</li>
<li><a href="r.html">Code (<code>R/</code>)</a></li>
<li><a href="description.html">Package metadata (<code>DESCRIPTION</code>)</a></li>
<li><a href="man.html">Documenting functions (<code>man/</code>)</a></li>
<li><a href="vignettes.html">Documenting packages (<code>vignettes/</code>)</a></li>
<li><a href="namespace.html">Namespaces (<code>NAMESPACE</code>)</a></li>
<li><a href="tests.html">Testing (<code>tests/</code>)</a></li>
<li><a href="data.html">Data (<code>data/</code>)</a></li>
<li><a href="src.html">Compiled code (<code>src/</code>)</a></li>
<li><a href="misc.html">Other components</a></li>
<li class="dropdown-header">Best practices</li>
<li><a href="git.html">Git and github</a></li>
<li><a href="check.html">Checking</a></li>
<li><a href="release.html">Release</a></li>
<li class="dropdown-header">Appendices</li>
<li><a href="style.html">Good code style</a></li>
