# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  schedule:
    # run every day at 11:05 PM Pacific
    - cron: '5 7 * * *'
  workflow_dispatch:

name: render

jobs:
  render:
    runs-on: ubuntu-latest
    # Only restrict concurrency for non-PR jobs
    concurrency:
      group: render-${{ github.event_name != 'pull_request' || github.run_id }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      isExtPR: ${{ github.event.pull_request.head.repo.fork == true }}
    steps:
      - name: Generate Locales used in Package within
        run: |
          sudo locale-gen it_IT.UTF-8
          sudo locale-gen pl_PL.UTF-8
          sudo locale-gen pt_BR.UTF-8
          sudo locale-gen en_GB.UTF-8
          sudo locale-gen fr_FR
          sudo locale-gen en_CA

      - name: Configure Git user
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - uses: actions/checkout@v3
      
      - uses: quarto-dev/quarto-actions/setup@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
           
      - name: Render book
        run: quarto render

      - name: Deploy to GitHub Pages
        if: contains(env.isExtPR, 'false')
        id: gh-pages-deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: _book 
          
      - name: Copy redirects file
        run: cp _redirects _book/

      - name: Deploy to Netlify
        if: contains(env.isExtPR, 'false')
        id: netlify-deploy
        uses: nwtgck/actions-netlify@v2.0
        with:
          publish-dir: './_book'
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message:
            'Deploy from GHA: ${{ github.event.pull_request.title || github.event.head_commit.message }} (${{ github.sha }})'
          # these all default to 'true'
          enable-pull-request-comment: false
          enable-commit-comment: false
          # enable-commit-status: true
          # overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1
